/* ==========================================================================
   Styles
   ========================================================================== */

body {
	text-align: center;
	background-color:grey;
	margin:50px 0px; padding:0px;
}

#logo {
	margin: 20px auto 50px auto;
}

#Inputs {
	position: relative;
	float:left;
	width:90%;
	margin: 0px auto;
	padding:0 5%;
}

.input-append, .input-prepend {
	position: relative;
}

.left { float: left; left: 50%; }
.right { float: right; right: 50%; }

.add-on {
	position: relative;
	float: left;
	height: 50px;	
	padding: 4px 7px;
	font-size: 30px;
	line-height:175%;
	background-color: white;
}

input, textarea, .uneditable-input {
	position: relative;
	float:left;
	left:-5px;
	width: 130px;
	min-width:50px;
	padding: 4px 7px;
	margin: 0 20px 0 0;
	height: 50px;
	font-size: 30px;
	text-align:center;
}

.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	outline: 0;
	-webkit-appearance: none;
}

.rounded:focus {
	border-color: #5E8DF2;
}